In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv("../data/diabetes_prediction_dataset.csv")
r,c = data.shape
print("The data has {} rows and {} columns".format(r,c))

The data has 100000 rows and 9 columns

In [3]:
data.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [4]:
data.dtypes

gender                  object
age                    float64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

In [5]:
for column in data.columns: 
    unique_values = data[column].unique()
    print(f"Unique values in column '{column}' :")
    print(unique_values)
    print()

Unique values in column 'gender' :
['Female' 'Male' 'Other']

Unique values in column 'age' :
[80.   54.   28.   36.   76.   20.   44.   79.   42.   32.   53.   78.
 67.   15.   37.   40.    5.   69.   72.    4.   30.   45.   43.   50.
 41.   26.   34.   73.   77.   66.   29.   60.   38.    3.   57.   74.
 19.   46.   21.   59.   27.   13.   56.    2.    7.   11.    6.   55.
  9.   62.   47.   12.   68.   75.   22.   58.   18.   24.   17.   25.
  0.08 33.   16.   61.   31.    8.   49.   39.   65.   14.   70.    0.56
 48.   51.   71.    0.88 64.   63.   52.    0.16 10.   35.   23.    0.64
  1.16  1.64  0.72  1.88  1.32  0.8   1.24  1.    1.8   0.48  1.56  1.08
  0.24  1.4   0.4   0.32  1.72  1.48]

Unique values in column 'hypertension' :
[0 1]

Unique values in column 'heart_disease' :
[1 0]

Unique values in column 'smoking_history' :
['never' 'No Info' 'current' 'former' 'ever' 'not current']

Unique values in column 'bmi' :
[25.19 27.32 23.45 ... 59.42 44.39 60.52]

Unique values in column 'HbA1c_level' :
[6.6 5.7 5.  4.8 6.5 6.1 6.  5.8 3.5 6.2 4.  4.5 9.  7.  8.8 8.2 7.5 6.8]

Unique values in column 'blood_glucose_level' :
[140  80 158 155  85 200 145 100 130 160 126 159  90 260 220 300 280 240]

Unique values in column 'diabetes' :
[0 1]

In [6]:
# Changing Hypertension and heart_disease into a categorical variable
data['hypertension'] = data['hypertension'].apply(str)
data['heart_disease'] = data['heart_disease'].apply(str)
data['HbA1c_level'] = data['HbA1c_level'].apply(str)
data['blood_glucose_level'] = data['blood_glucose_level'].apply(str)

In [7]:
data.loc[:, data.isna().any()]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[100000 rows x 0 columns]

In [ ]:
data.isna().any()